

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Desktop - General -------------------- //

// Html

html {
    scroll-behavior: smooth;
}

// Body

body {
    @include pr-0;

    font-family         : 'Montserrat';

    color               : $c-grey;

    background          : $c-white;

    .loader {
        @include position-fixed;

        @include display-flex;

        @include align-items-center;

        @include width-100;
        @include height-100;

        justify-content     : center;

        z-index             : 1050;

        top                 : 0%;
        left                : 0%;

        background-color    : $c-primary;
    }
    
    .page-wrapper {
        margin-top          : -92px;
    }

    @include media-breakpoint-down(md) {

        .page-wrapper {
            padding-bottom  : 22px;
            margin-top      : -50px;
        }
    }

    @include media-breakpoint-down(sm) {

        .page-wrapper {
            padding-bottom  : 72px; 
            margin-top      : 0px;
        }
    }
}

// Grid

.container {
    padding-top         : 3.5rem;
    padding-bottom      : 3.5rem;
}

.container-fluid {
    padding-top         : 3.5rem;
    padding-bottom      : 3.5rem;
}

// Image

img {
    width               : 100%;
}

// Anchor

a {
    transition          : all 0.5s ease;

    i {
        transition      : all 0.25s ease;
    }

    &:hover &:focus, &:active {
        transition      : all 0.5s ease;

        i {
            transition  : all 0.25s ease;
        }
    }
}

// Parallax

.parallax {
    @include position-relative;

    transition          : transform .8s ease .0s;
    will-change         : transform;
}