

// Utitlities

@import "../../../../Scss-Utilities/Utilities.scss";

// -------------------- Navigation - Footbar - Form -------------------- //

.footbar {

    // Primary

    &.footbar-primary {

        // Footbar Subscription

        .footbar-subscription {
            .subscription-box {
                .input-group {
                    padding                 : 0.85rem 2rem;

                    background-color        : $c-primary-normal;
                    border                  : none;
                    border-radius           : 50em;

                    input {
                        @include height-auto;

                        @include p-0;

                        @include font-primary-light;
                        @include p;

                        outline                 : none;

                        color                   : $c-white;

                        background-color        : transparent;
                        border                  : none;

                        box-shadow              : none;

                        &::placeholder {
                          color                 : $c-white;
                        }
                    }

                    .btn-subscription {
                        i {
                            color               : $c-white;
                        }
                    }
                }
            }
        }
    }
}