

// Utitlities

@import "../../../../Scss-Utilities/Utilities.scss";

// -------------------- Navigation - Footbar - Button -------------------- //

.footbar {

    // Primary

    &.footbar-primary {

        // Footbar Logo

        .footbar-logo {
            .footbar-brand {
                @include font-primary-semi-bold;
                @include h5;

                color           : $c-primary-normal;
            }
        }

        // Footbar Navigation

        .footbar-navigation {
            .link-navigation {
                @include font-primary-light;
                @include p;

                @include text-decoration-none;

                color       : $c-grey;

                &:hover, &:focus, &:active {
                    color           : $c-secondary-normal;

                    transition      : 0.5s ease;
                }
            }
        }
    }
}