

// Utitlities

@import "../../../Scss-Utilities/Utilities.scss";

// -------------------- Page - Home - Button -------------------- //

.home {

    // Conversion

    .conversion {

        // Project

        &.for-project {
            .conversion-project-button {
                .btn-conversion {
                    @include display-inline-block;

                    @include width-auto;

                    @include font-primary-semi-bold;
                    @include small;

                    @include text-transform-uppercase;

                    padding             : 0.85rem 2rem;

                    color               : $c-white;

                    background-color    : $c-primary-normal;
                    border-radius       : 50em;      

                    transition          : 0.5s ease;
                
                    &:hover, &:focus, &:active {
                        background-color        : $c-secondary-normal;

                        transition              : 0.5s ease;
                    }     
                }
            }
        }

        // Contact

        &.for-contact {
            .conversion-contact-button {
                .btn-conversion {
                    @include display-inline-block;

                    @include width-auto;

                    @include font-primary-semi-bold;
                    @include small;

                    @include text-transform-uppercase;

                    padding             : 0.85rem 2rem;

                    color               : $c-white;

                    background-color    : $c-primary-normal;
                    border-radius       : 50em;      

                    transition          : 0.5s ease;
                
                    &:hover, &:focus, &:active {
                        background-color        : $c-secondary-normal;

                        transition              : 0.5s ease;
                    }     
                }
            }
        }
    }
}
