

// Utitlities

@import "../../../Scss-Utilities/Utilities.scss";

// -------------------- Page - Home - Typography -------------------- //

.home {

    // Banner Header

    .banner-header {
        .banner-header-text {
            .subtitle {
                h4 {
                    @include font-primary-semi-bold;
                    @include h6;

                    color       : $c-primary-normal;
                }
            }

            .title {
                h1 {
                    @include font-primary-extra-bold;
                    @include display-4;

                    line-height     : 1.15;

                    color           : $c-primary-normal;
                }
            }

            .desc {
                p {
                    @include font-primary-light;
                    @include p;
                }
            }
        }

        @include media-breakpoint-down(md) {

            .banner-header-text {
                .title {
                    h1 {
                        font-size       : 2rem;
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {

            .banner-header-text {
                .title {
                    h1 {
                        font-size       : 2.25rem;
                    }
                }
            }
        }
    }

    // Information

    .information {
        .information-header {
            .header-text {
                .title {
                    h3 {
                        @include position-relative;

                        @include font-primary-semi-bold;
                        @include h3;
                    
                        color           : $c-primary-normal;

                        &:before {
                            @include position-absolute;

                            content                 : '';

                            width                   : 2.5rem;
                            height                  : 0.25rem;

                            top                     : -50%;
                            left                    : 50%;

                            transform               : translate(-50%, -50%);

                            background-color        : $c-primary-normal;
                        }
                    }
                }
            }
        }

        .information-text {
            .subtitle {
                h4 {
                    @include font-primary-semi-bold;
                    @include h6;

                    color       : $c-primary-normal;
                }
            }

            .title {
                h1 {
                    @include font-primary-extra-bold;
                    @include display-4;

                    line-height     : 1.15;

                    color           : $c-primary-normal;
                }
            }

            .desc {
                p {
                    @include font-primary-light;
                    @include p;
                }
            }
        }

        @include media-breakpoint-down(md) {

            .information-text {
                .title {
                    h1 {
                        font-size       : 2rem;
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {

            .information-header {
                .header-text {
                    .title {
                        h3 {
                            @include h5;
                        }
                    }
                }
            }

            .information-text {
                .title {
                    h1 {
                        font-size       : 2.25rem;
                    }
                }
            }
        }
    }

    // Conversion

    .conversion {

        // Project

        &.for-project {
            .conversion-project-text {
                .subtitle {
                    h4 {
                        @include font-primary-semi-bold;
                        @include h6;

                        color       : $c-primary-normal;
                    }
                }

                .title {
                    h1 {
                        @include font-primary-extra-bold;
                        @include display-4;

                        line-height     : 1.15;

                        color           : $c-primary-normal;
                    }
                }

                .desc {
                    p {
                        @include font-primary-light;
                        @include p;
                    }
                }
            }

            @include media-breakpoint-down(md) {

                .conversion-project-text {
                    .title {
                        h1 {
                            font-size       : 2rem;
                        }
                    }
                }
            }

            @include media-breakpoint-down(sm) {

                .conversion-project-text {
                    .title {
                        h1 {
                            font-size       : 2.25rem;
                        }
                    }
                }
            }
        }

        // Contact

        &.for-contact {
            .conversion-contact-text {
                .subtitle {
                    h4 {
                        @include font-primary-semi-bold;
                        @include h6;

                        color       : $c-primary-normal;
                    }
                }

                .title {
                    h1 {
                        @include font-primary-extra-bold;
                        @include display-4;

                        line-height     : 1.15;

                        color           : $c-primary-normal;
                    }
                }

                .desc {
                    p {
                        @include font-primary-light;
                        @include p;
                    }
                }
            }

            @include media-breakpoint-down(md) {

                .conversion-contact-text {
                    .title {
                        h1 {
                            font-size       : 2rem;
                        }
                    }
                }
            }

            @include media-breakpoint-down(sm) {

                .conversion-contact-text {
                    .title {
                        h1 {
                            font-size       : 2.25rem;
                        }
                    }
                }
            }
        }
    }

    // Partner

    .partner {
        .partner-text {
            .title {
                h3 {
                    @include position-relative;

                    @include font-primary-semi-bold;
                    @include h3;
                    
                    color           : $c-primary-normal;

                    &:before {
                        @include position-absolute;

                        content                 : '';

                        width                   : 2.5rem;
                        height                  : 0.25rem;

                        top                     : -150%;
                        left                    : 50%;

                        transform               : translate(-50%, -50%);

                        background-color        : $c-primary-normal;
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {

            .partner-text {
                .title {
                    h3 {
                        @include h5;

                        &:before {
                            top                 : -100%;
                        }
                    }
                }
            }
        }
    }
}
