

// -------------------- Color Variable -------------------- //

// ---------- Color Theme

$c-primary              : #06004d;
$c-secondary            : #56cd97;
$c-tertiary             : #e5e5f2;

// ---------- Color Base

$c-black                : #01012f;

$c-grey-super-light     : #f5f6f7;
$c-grey-soft-light      : #e8ebed;
$c-grey-light           : #aeaeae;
$c-grey                 : #727280;
$c-grey-dark            : #474747;

$c-white                : #ffffff;

$c-green                : #51F396;

$c-orange               : #FF8E32;
$c-orange-dark          : #FF7200;

$c-red-super-light      : #fff7f6;
$c-red-light            : #fe9890;
$c-red                  : #c34163;

// -------------------- Color Palette -------------------- //

$color-theme: (
     primary: (
        'normal'        : $c-primary,
        'darken'        : darken($c-primary, 10%),
        'lighten'       : lighten($c-primary, 10%),
     ),

     secondary: (
        'normal'        : $c-secondary,
        'darken'        : darken($c-secondary, 10%),
        'lighten'       : lighten($c-secondary, 10%),
     ),

     tertiary: (
        'normal'        : $c-tertiary,
        'darken'        : darken($c-tertiary, 10%),
        'lighten'       : lighten($c-tertiary, 10%),
     ),
);

// -------------------- Color Template -------------------- //

// ----- Primary

$c-primary-normal              : map-deep-get($color-theme, primary, 'normal');
$c-primary-darken              : map-deep-get($color-theme, primary, 'darken');
$c-primary-lighten             : map-deep-get($color-theme, primary, 'lighten');

// ----- Secondary

$c-secondary-normal            : map-deep-get($color-theme, secondary, 'normal');
$c-secondary-darken            : map-deep-get($color-theme, secondary, 'darken');
$c-secondary-lighten           : map-deep-get($color-theme, secondary, 'lighten');

// ----- Tertiary

$c-tertiary-normal             : map-deep-get($color-theme, tertiary, 'normal');
$c-tertiary-darken             : map-deep-get($color-theme, tertiary, 'darken');
$c-tertiary-lighten            : map-deep-get($color-theme, tertiary, 'lighten');