

// Utitlities

@import "../../../../Scss-Utilities/Utilities.scss";

// -------------------- Navigation - Navbar - Link -------------------- //

.navbar {
    
    // Primary

    &.navbar-primary {
        .navbar-brand {
            @include font-primary-semi-bold;
            @include h5;

            color           : $c-primary-normal;
        }

        .navbar-nav {

            // Nav Primary

            &.nav-primary {
                @include ml-auto;

                .nav-link {
                    @include font-primary-bold;
                    @include p;

                    color           : $c-primary-normal;

                    transition      : 0.5s ease;

                    &.active {
                        color           : $c-secondary-normal;
                    }

                    &:hover, &:focus, &:active {
                        color           : $c-secondary-normal;

                        transition      : 0.5s ease;
                    }
                }
            }
        }
    }
}