

// Utitlities

@import "../../../Scss-Utilities/Utilities.scss";

// -------------------- Page - Business - Layout -------------------- //

.business {

    // Banner Header

    .banner-header {
        @include mx-auto;

        max-width           : 1366px;

        margin              : 0rem 0rem 15rem 0rem;
        padding             : 5rem 0rem 2rem 0rem;

        background          : linear-gradient(90deg, rgba(229,229,242,1) 0%, rgba(229,229,242,1) 75%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);

        > .container {
            max-width       : 1366px;

            > .row {
                @include align-items-center;

                .col-outer {
                    &:first-child {
                        @include px-5;
                        @include ml-auto;
                        @include mr-5;
                    }

                    &:last-child {
                        @include pr-0;
                        @include ml-auto;

                        transform           : translateY(11.5rem);
                    }
                }
            }
        }

        // Element Wrapper

        .element-wrapper {
            &.for-dots {
                z-index         : -1;
            }
        }

        .element-dot {
            @include position-absolute;

            top         : -8rem;
            left        : -33.5%;

            img {
                max-width       : 90%;
            }
        }

        .element-coin-primary {
            @include position-absolute;

            top         : 11.5rem;
            left        : -13.5%;

            img {
                max-width       : 90%;
            }
        }

        .element-coin-secondary {
            @include position-absolute;

            top         : 32rem;
            left        : 75%;
        }

        .banner-header-text {
            @include mb-5;

            .subtitle {
                @include mb-5;
            }

            .title {
                @include mb-5;
            }
        }

        .info-wrapper {
            @include position-absolute;

            top         : 53.5%;
            left        : -12.5%;
        }

        @include media-breakpoint-down(md) {

            margin              : 0rem 0rem 10rem 0rem;

            > .container {
                > .row {
                    .col-outer {
                        &:first-child {
                            @include px-3;
                            @include mx-auto;
                        }

                        &:last-child {
                            @include pr-0;
                            @include ml-auto;

                            transform           : translateY(9.5rem);
                        }
                    }
                }
            }

            .element-dot {
                top         : -5rem;
                left        : -24.5%;

                img {
                    max-width       : 70%;
                }
            }

            .element-coin-primary {
                top         : 10rem;

                img {
                    max-width       : 65%;
                }
            }
        }

        @include media-breakpoint-down(sm) {

            padding                 : 0rem 0rem 0rem 0rem;
            margin                  : 0rem;

            background              : linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(229,229,242,1) 45%, rgba(229,229,242,1) 100%);

            > .container {
                > .row {
                    .col-outer {
                        &:first-child {
                            @include mb-5;
                        }

                        &:last-child {
                            @include px-0;
                            @include ml-0;

                            transform           : translateY(0rem);
                        }
                    }
                }
            }

            .element-wrapper {
                @include display-none;
            }
        }
    }

    // Expertise

    .expertise {

        > .container {
            > .row {
                .col-outer {
                    > .row {
                        .col-inner {
                            @include mx-auto;
                            
                            margin          : 0rem 0rem 5rem 0rem;
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {

            > .container {
                > .row {
                    .col-outer {
                        > .row {
                            .col-inner {
                                @include mx-0;
                            
                                margin          : 0rem 0rem 3.5rem 0rem;

                                &:last-child {
                                    margin      : 0rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Project List

    .project-list {
        margin          : 2.5rem 0rem 7.5rem 0rem;

        > .container {
            > .row {
                .col-outer {
                    &:first-child {
                        margin          : 0rem auto 7.5rem auto;
                    }

                    &:last-child {
                        @include mx-auto;

                        .project-outer-wrapper {
                            margin                  : 0rem 0rem 15rem 0rem;

                            &:last-child {
                                margin              : 0rem 0rem 5rem 0rem;
                            }

                            &:nth-child(odd) {
                                .project-list-image {
                                    img {
                                        box-shadow      : 32.5px 32.5px 0 0 $c-primary-normal;
                                    }
                                }

                                .element-dot {
                                    @include position-absolute;

                                    top         : 10rem;
                                    left        : -17.5%;
                                }

                                .info-wrapper {
                                    @include position-absolute;

                                    top         : 67.5%;
                                    left        : -10%;
                                }

                                > .row {
                                    @include align-items-center;

                                    .col-inner {
                                        &:first-child {
                                            @include pr-5;
                                        }

                                        &:last-child {
                                            @include mx-auto;
                                        }
                                    }
                                }
                            }

                            &:nth-child(even) {
                                .project-list-image {
                                    img {
                                        box-shadow      : -32.5px 32.5px 0 0 $c-primary-normal;
                                    }
                                }

                                .element-dot {
                                    @include position-absolute;

                                    top         : -5rem;
                                    left        : 0%;

                                    transform   : translateX(120%);
                                }

                                .info-wrapper {
                                    @include position-absolute;

                                    top         : 67.5%;
                                    left        : 0%;

                                    > div {
                                        transform       : translateX(40%);
                                    }
                                }

                                > .row {
                                    @include align-items-center;

                                    .col-inner {
                                        &:first-child {
                                            @include mx-auto;
                                        }

                                        &:last-child {
                                            @include pl-5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Element Wrapper

        .element-wrapper {
            &.for-dots {
                z-index         : -1;
            }
        }

        .project-list-header {
            @include text-align-center;
        }

        .project-list-text {
            @include mb-5;

            .subtitle {
                @include mb-5;
            }

            .title {
                @include mb-5;
            }
        }

        @include media-breakpoint-down(md) {

            margin          : 2.5rem 0rem 3.5rem 0rem;

            > .container {
                > .row {
                    .col-outer {
                        &:last-child {
                            @include mx-auto;

                            .project-outer-wrapper {
                                margin                  : 0rem 0rem 10rem 0rem;

                                &:nth-child(odd) {
                                    .project-list-image {
                                        img {
                                            box-shadow      : 25px 25px 0 0 $c-primary-normal;
                                        }
                                    }

                                    .element-dot {
                                        top         : -2.5rem;
                                        left        : -19.5%;

                                        img {
                                            max-width       : 75%;
                                        }
                                    }

                                    .info-wrapper {
                                        top         : 50%;
                                    }
                                }

                                &:nth-child(even) {
                                    .project-list-image {
                                        img {
                                            box-shadow      : -25px 25px 0 0 $c-primary-normal;
                                        }
                                    }

                                    .element-dot {
                                        top         : -4.5rem;
                                        left        : -57.5%;

                                        img {
                                            max-width       : 75%;
                                        }
                                    }

                                    .info-wrapper {
                                        top         : 50%;

                                        > div {
                                            transform       : translateX(30%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {

            margin          : 5rem 0rem 0rem 0rem;

            > .container {
                > .row {
                    .col-outer {
                        &:first-child {
                            @include px-0;

                            margin          : 0rem auto 5rem auto;
                        }

                        &:last-child {
                            .project-outer-wrapper {
                                &:nth-child(odd) {
                                    .project-list-image {
                                        img {
                                            box-shadow      : none;
                                        }
                                    }

                                    .info-wrapper {
                                        top         : 75%;
                                        left        : 12.5%;
                                    }

                                    > .row {
                                        .col-inner {
                                            &:first-child {
                                                @include px-0;

                                                margin              : 0rem 0rem 7.5rem 0rem;
                                            }
                                        }
                                    }
                                }

                                &:nth-child(even) {
                                    .project-list-image {
                                        img {
                                            box-shadow      : none;
                                        }
                                    }

                                    .info-wrapper {
                                        top         : 75%;
                                        left        : 12.5%;

                                        > div {
                                            transform       : translateX(0%);
                                        }
                                    }

                                    > .row {
                                        .col-inner {
                                            &:first-child {
                                                @include order-2; 
                                            }

                                            &:last-child {
                                                @include order-1;

                                                @include px-0;

                                                margin              : 0rem 0rem 7.5rem 0rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .element-wrapper {
                @include display-none;
            }
        }
    }

    // Conversion

    .conversion {

        // Contact

        &.for-contact {
            @include mx-auto;

            max-width           : 1366px;

            padding             : 3rem 0rem 3rem 0rem;

            background          : linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(229,229,242,1) 25%, rgba(229,229,242,1) 100%);

            > .container {
                > .row {
                    @include align-items-center;

                    .col-outer {
                        &:last-child {
                            @include mx-auto;
                        }
                    }
                }
            }

            // Element Wrapper

            .element-wrapper {
                &.for-dots {
                    z-index         : -1; 
                }
            }

            .element-dot {
                @include position-absolute;

                top         : 22.5rem;
                left        : 50%;
            }

            .element-coin-primary {
                @include position-absolute;

                top         : 22.5rem;
                left        : 75%;

                transform   : translateX(75%);

                img {
                    max-width       : 90%;
                }
            }

            .info-wrapper {
                @include position-absolute;

                top         : 20%;
                left        : -7.5%;
            }

            .conversion-contact-text {
                @include mb-5;

                .subtitle {
                    @include mb-5;
                }

                .title {
                    @include mb-5;
                }
            }

            @include media-breakpoint-down(md) {

                .element-coin-primary {
                    top         : 16.5rem;
                    left        : 70%;

                    transform   : translateX(70%);
                }
            }

            @include media-breakpoint-down(sm) {

                padding                 : 0rem 0rem 3rem 0rem;

                background              : linear-gradient(0deg, rgba(229,229,242,1) 0%, rgba(229,229,242,1) 55%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);

                > .container {
                    > .row {
                        .col-outer {
                            &:first-child {
                                @include px-0;

                                margin-bottom       : 3.5rem;
                            }

                            &:last-child {
                                @include mx-0;
                            }
                        }
                    }
                }

                .info-wrapper {
                    @include display-none;
                }

                .element-wrapper {
                    @include display-none;
                }
            }
        }
    }
}

