.mdWrapper {
    padding: 0 25px 0 25px;
}

.row {
    padding: 5px;
}

@media screen and (max-width: 1200) {
    .wrapper {
        margin: 30px 30px 30px 30px;
    }

    .mdWrapper {
        padding: 0 0 0 10px;
    }
}

.notice {
    background-color: rgba(214, 243, 253, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 20px
}

@media screen and (max-width: 768px) {
    .notice {
        margin-top: 25px
    }

    .mdWrapper {
        padding: 0 25px 0 10px;
    }

}