.header {
    color: white;
}

.headerRight {
    text-align: right;
}

.headerRow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {}