.listItem:hover {
    background-color: #fff;
}

.listItem>.ant-list-item-meta-title {
    text-transform: capitalize;
}

.listItem {
    margin-right: 25px
}

.list {
    width: 50%;
    overflow-y: auto;
    max-height: 700px;
}

.list::-webkit-scrollbar {
    width: 5px;
    background-color: lightgrey;
}

.list::-webkit-scrollbar-thumb {
    background: #888;
}

@media screen and (max-width: 768px) {
    .list {
        width: 100%;
        max-height: none;
    }
}

.mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.featured {
    width: 50%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 0px;
}

.card {
    width: 100%;
    max-height: 40%;
    border-radius: 0px;
}