.main {
    margin-top: 5rem;
}

.grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 0 1rem;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}