.main {
    margin-top: 5rem;
}

.grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 49%);
    grid-gap: 10px;
}

.activeFilter {
    text-decoration: underline;
    font-weight: bold;
}

.filter>p {
    display: inline-block;
    margin: 1rem 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}

.card {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 0 1rem;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.chartWrapper {
    background-color: rgba(240, 240, 240, 0.25);
    border-radius: 5px;
    position: relative;
}

.chartWrapper:hover .chartHeadline {
    display: block;
    text-transform: capitalize;
}

.chartHeadline {
    padding: 0 8px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    display: none;
    z-index: 1000000;
    background-color: lightgray;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    width: auto;
}

.topMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(240, 240, 240, 0.6);
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.topMenu>p {
    font-size: 1.2rem;
    font-weight: 500;
}

.testsWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    overflow-x: scroll;
    cursor: pointer;
    padding: .5rem
}

.testsWrapper::-webkit-scrollbar {
    display: none;
}

.testItem {
    padding: 0 1rem;
    margin: 0 .5rem;
    min-width: 8rem;
    min-height: 7rem;
    line-height: 10px;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 8px;
}

.green {
    color: #00a65a;
}

.red {
    color: #dd4b39;
}

.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}